*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

$main-color:rgb(194, 95, 193);
$page-color:rgb(78, 178, 206);
$addToCart:rgb(36, 178, 152);
.box{
    background-color:$page-color;
    display: grid;
   grid-template-columns: 250px 1fr;
   grid-template-areas:
   "sidebar products"
    "sidebar products"
    "sidebar buttons";
    gap: 20px;
    padding: 20px;
.sidebar{
    grid-area: sidebar;
}

.products-container{
    grid-area: products;
}

.buttons{
    grid-area: buttons;
}
   
}
.products-container{

display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 15px;
}
.card{
    background-color:$main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.card-text{
    color: white;
    font-family: fantasy;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
    padding: 10px;
    .btn1{
        background-color: $main-color;
        padding: 10px;
        border-radius: 8px;
    }
    #prev{
        padding: 10px;
        background-color:$main-color;
         border-radius: 8px;
          
    &:hover{
        background-color: $page-color ;
        color: white;
    }
    }
    #next{
        padding: 10px;
      background-color:$main-color;
      border-radius: 8px;
    &:hover{
        background-color:$page-color ;color: white;
    }
    }
}
.store-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    
    
}
#aside-menu{
 width: 83%;
 padding: 10px;
background-color: $main-color;
border-radius: 10px;
border: 2px solid black;
cursor: pointer;
font-size: 16px;
margin: 12% 8%;
text-align: center;
&:hover{
    background-color: $page-color;
}
}
.categoryBtn{
    margin: 20px;
    padding: 10px;
    background-color:$main-color;
    border-radius: 10px;
    &:hover{
        background-color:$page-color ;
          color: white;
    }
}
.cart{
    padding: 5px;
    border-radius: 8px ;
    background-color: $addToCart;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}